<%- include('./includes/header.ejs') %>
<body>
  <%- include('./includes/navbar.ejs') %>
  <div class="d-flex">
    <div class="card m-3" style="width: 18rem">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2479/2479867.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text"><%= product.description %></p>
        <p class="card-text"><%= product.price %></p>
      </div>
    </div> <%- include('./includes/ending.ejs') %>
  </div>
</body>
